$color-text: #FFF;
$color-titre: rgb(255, 190, 51);
$background: rgb(34, 34, 34);
$police-titre: Ailerons;
$police-texte: Roboto;
$border: 1px solid rgba(102, 102, 102, 0.842);


// --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


@mixin effet-hover {
    transform: scale(1.06);
}

@mixin effet-active {
    transition: 0s;
    transform: scale(1);
}


// --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

body {
    margin: 0;
    padding: 0;
}
img {
    object-fit: cover;
}


// -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


// header
header {
    position: relative;
    height: 1210px;
    color: $color-text;
    background: rgba(0, 0, 0, 0.329);
    .img-header {
        width: 100%;
        height: 1210px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -7;
        img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: 1210px;
        }
    }

    .logo-header {
        position: relative;
        z-index: 5;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            font-family: Ailerons;
            border: 1px solid rgba(231, 231, 231, 0.699);
            font-size: 48px;
            span {
                color: $color-titre;
            }
        }
    }

    .fa-cogs {
        z-index: 5;
        background-color: $color-titre;
        color: black;
        padding: 10px;
        cursor: pointer;
        &:hover {
            @include effet-hover();
        }

        &:active {
            @include effet-active();
        }
    }

    .slogan {
        font-family: Ailerons;
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 44px;
    }
}


// -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


// section
section {
    position: relative;
    width: 100%;
    height: 792px;
    .sct-1-part-1 {
        height: 525px;
        width: 100%;
        display: flex;
        background: $background;
        img {
            width: 40%;
        }

        .titre-sct {
            color: $color-titre;
            font-family: $police-titre;
            width: 80%;
            h2 {
                margin: 0;
            }
        }

        .services {
            font-family: $police-texte;
            width: 60%;
            padding-left: 10%;
            margin-top: 112px;
            margin-bottom: 112px;
            color: $color-text;
            .paragraphes {
                width: 70%;
                display: flex;
                .paragraphe {
                    margin-right: 42px;
                    width: 50%;
                    .plus {
                        cursor: pointer;
                        width: 70%;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: $border;
                        transition: all 0.3s;
                        &:hover {
                            @include effet-hover();
                        }

                        &:active {
                            @include effet-active();
                        }

                        i {
                            color: $color-titre;
                            margin-left: 12px;
                        }
                    }
                }
            }
        }
    }

    .sct-1-part-2 {
        position: relative;
        width: 100%;
        background-color: rgba(34, 34, 34, 0.849);
        img {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: -5;
        }

        .information {
            display: flex;
            justify-content: center;
            align-items: center;
            .info {
                cursor: pointer;
                margin-left: 7%;
                margin-right: 7%;
                margin-top: 100px;
                margin-bottom: 126px;
                padding: 0;
                font-family: $police-texte;
                text-align: center;
                h2 {
                    color: $color-text;
                    font-size: 40px;
                    margin: 0;
                }

                p {
                    color: $color-titre;
                    font-size: 15px;
                }
            }
        }
    }
}


// -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


.nav-1 {
    position: relative;
    width: 100%;
    height: 882px;
    display: flex;
    margin-top: 70px;
    background: $background;
    margin: 0 0;
    .nav-1-part-1 {
        width: 60%;

        h3 {
            width: 80%;
            color: $color-titre;
            text-align: right;
            font-size: 20px;
            font-family: $police-titre;
            margin-top: 112px;
            margin-bottom: 62px;
        }

        .why {
            width: 90%;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            margin: auto;
            .why-1 {
                width: 290px;
                display: flex;
                height: 200px;
                align-items: flex-start;
                padding-right: 30px;
                margin-top: 0;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    @include effet-hover();
                }

                i {
                    font-size: 50px;
                    color: $color-titre;
                    margin-right: 48px;
                    padding-top: 15px;
                }

                div {
                    font-family: $police-texte;
                    padding: 0;
                    margin: 0;
                    color: $color-text;
                    h2 {
                        font-size: 18px;
                        width: 55%;
                    }

                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    
    }

    img {
        width: 40%;
        height: 882px;
    }
}


// -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


.nav-2 {
    width: 100%;
    margin: 0;
    background: lighten($color: $background, $amount: 6);
    .menu-navigation {
        ul {
            margin: 0;
            display: flex;
            justify-content: center;
            list-style-type: none;
            li {
                margin: 2%;
                color: lighten($color: $background, $amount: 35);
                cursor: pointer;
                padding: 5px 15px;
                font-size: 18px;
                transition: all 0.3s;
                
                &:hover {
                    background: $color-titre;
                    @include effet-hover();
                }

                &:active {
                    @include effet-active();
                }
            }
        }
    }

    .img-nav-2 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        img {
            width: 25%;
            height: 320px;
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
                @include effet-hover();
            }
        }
    }
}


// --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


footer {
    width: 100%;
    height: 100%;
    background: $background;
    
    // footer partie 1
    .paragraphe-footer {
        display: flex;
        justify-content: center;
        color: $color-text;
        width: 80%;
        margin: auto;
        padding-top: 80px;
        padding-bottom: 70px;
        .description, .news, .contacts {
            width: 30%;
            margin: 0 20px;
            font-family: $police-texte;
            cursor: pointer;
            .new, .contact {
                margin-top: 0;
                padding-top: 0;
                transition: all 0.3s;
                &:hover {
                    @include effet-hover();
                }
                &:active {
                    @include effet-active();
                }
            }
        }

        .description {
            padding-right: 20px;
            h1 {
                padding-top: 0;
                margin-top: 0;
                font-size: 48px;
                font-family: $police-titre;
                span {
                    color: $color-titre;
                }
            }

            p {
                font-size: 16px;
            }
        }

        .news {
            .new {
                border-bottom: $border;
                p {
                    margin: 10px 0;
                }
            }
        }

        .contacts {
            .contact {
                border-bottom: $border;
                :nth-last-child(3) {
                    text-align: left;
                }
                p {
                    margin: 10px 0;
                    display: flex;
                    width: 70%;
                    span {
                        width: 70px;
                        color: $color-titre;
                    }
                }
            }
        }
    }

    // footer partie 2
    .footer-part-2 {
        width: 100%;
        color: $color-text;
        background: darken($color: $background, $amount: 10);
        div {
            position: relative;
            display: flex;
            margin: auto;
            font-family: $police-texte;
            margin-top: 32px;
            margin-bottom: 28px;
            .copyright {
                display: flex;
                align-items: center;
                cursor: pointer;
                i {
                    margin-right: 5px;
                }

                &:active {
                    transform: scale(0.95);;
                }
            }
    
            .reseaux {
                ul {
                    display: flex;
                    li {
                        margin-right: 15px;
                        list-style-type: none;
                        cursor: pointer;
                        a {
                            color: $color-text
                        }

                        &:hover {
                            color: $color-titre;
                            @include effet-hover();
                        }
                        &:active {
                            transform: scale(0.98);
                        }
                    }
                }
            }

            .fleche {
                cursor: pointer;
                position: absolute;
                right: 2%;
                top: -15px;
                border-radius: 3px;
                padding: 5px 10px;
                font-size: 22px;
                background: $color-titre;
                a {
                    color: $background;
                }
            }
        }
    }
}